#formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-container {
  display: flex;
  justify-content: center;
}

#meme_image {
  max-width: 600px;
  height: auto;
  max-height: 600px;
  object-fit: contain;
}

#meme-font {
  font-size: 3em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #fff;
  text-shadow: 0px 0px 2px black;
  -webkit-text-stroke: 3px black;
  line-height: 1;
}

.element-margin {
  margin: 5px 5px 5px 5px;
}

.text-block {
  position: absolute;
  margin: 0;
  width: 100%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 2px black;
  -webkit-text-stroke: 3px black;
  line-height: 1;
}
