#formWrapper {
  display: flex;
  flex-direction: row;
}

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  top: 30px;
  left: 100px;
  color: white;
  background-color: black;
}

.text-block-2 {
  position: absolute;
  bottom: 30px;
  right: 100px;
  color: white;
  background-color: black;
}
